---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Arcade Express'>
	<h1>Welcome to Aracde Express !</h1>
	<ul>
		<li>
			<a href='/sliding-penguins'>Sliding Penguins</a>
		</li>
	</ul>
</Layout>
